extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post' action='/signup')
    input(type='text' name='username')
    input(type='password' name='password')
    input(type='submit' value='signup')

  form(method='post' action='/signin')
    input(type='text' name='username')
    input(type='password' name='password')
    input(type='submit' value='signin')

  form(method='post' action='/dataset' enctype='multipart/form-data')
    input(type='file' name='dataset')
    input(type='text' name='username')
    input(type='submit' value='upload')
